---
import { Image } from "astro:assets";

import { COMBATS, REY_DE_LA_PISTA_ID } from "@/const/combats";
import type { User } from "@auth/core/types";
import ReyDeLaPista from "@/components/Pronosticos/ReyDeLaPista.astro";
import IndividualBoxer from "@/components/Pronosticos/IndividualBoxer.astro";

interface Props {
    user: User;
}

const { user } = Astro.props;
const userVotes: Record<string, string> = {};
---

<section>
    <div class="text-center">
        <h1 class="font-atomic text-5xl text-accent">¡Haz tu pronóstico!</h1>
        <p class="my-5 text-xl text-neutral-300 text-wrap text-center">
            Vota tus ganadores para cada combate haciendo clic encima de cada
            uno
        </p>
        <div class="flex justify-center items-center gap-4">
            <img
                src={user.image}
                alt="Imagen de perfil"
                class="w-12 h-12 rounded-full"
            />
            <div class="flex flex-col">
                <span class="-mb-1 text-lg font-bold">{user.name}</span>
                <button
                    class="text-sm font-light text-accent hover:underline"
                    id="logout"
                    type="button">Cerrar sesión</button
                >
            </div>
        </div>
    </div>

    <ul>
        {
            COMBATS.map(({ id, number, boxers, titleSize, teams }, i) => {
                if (id === REY_DE_LA_PISTA_ID) {
                    return (
                        <ReyDeLaPista
                            id={id}
                            titleSize={titleSize}
                            boxers={boxers}
                            userVotes={userVotes}
                        />
                    );
                }
                // TODO: Refactor this code
                let urlBoxer1,
                    urlBoxer2,
                    nameBoxer1,
                    nameBoxer2,
                    dataBoxerId_1,
                    dataBoxerId_2;
                if (teams) {
                    urlBoxer1 = `/images/boxers/votes/vote-${number}-${teams[0]}.webp`;
                    urlBoxer2 = `/images/boxers/votes/vote-${number}-${teams[1]}.webp`;
                    nameBoxer1 = `${boxers[0].replace("-", " ")} y <br /> ${boxers[1].replace("-", " ")}`;
                    nameBoxer2 = `${boxers[2].replace("-", " ")} y <br />${boxers[3].replace("-", " ")}`;
                    dataBoxerId_1 = `${boxers[0]}-${boxers[1]}`;
                    dataBoxerId_2 = `${boxers[2]}-${boxers[3]}`;
                } else {
                    // Invert the boxer's photo
                    if (
                        boxers[0] == "agustin-51" ||
                        boxers[0] == "el-mariana"
                    ) {
                        urlBoxer1 = `/images/boxers/votes/vote-${number}-${boxers[1]}.webp`;
                        urlBoxer2 = `/images/boxers/votes/vote-${number}-${boxers[0]}.webp`;
                        nameBoxer1 = boxers[1].replace("-", " ");
                        nameBoxer2 = boxers[0].replace("-", " ");
                        dataBoxerId_1 = `${boxers[1]}`;
                        dataBoxerId_2 = `${boxers[0]}`;
                    } else {
                        urlBoxer1 = `/images/boxers/votes/vote-${number}-${boxers[0]}.webp`;
                        urlBoxer2 = `/images/boxers/votes/vote-${number}-${boxers[1]}.webp`;
                        nameBoxer1 = boxers[0].replace("-", " ");
                        nameBoxer2 = boxers[1].replace("-", " ");
                        dataBoxerId_1 = `${boxers[0]}`;
                        dataBoxerId_2 = `${boxers[1]}`;
                    }
                }
                return (
                    <li class="relative flex justify- items-center mb-10">
                        <IndividualBoxer
                            id={id}
                            dataBoxerId={dataBoxerId_1}
                            userVotes={userVotes}
                            boxers={boxers[0]}
                            urlBoxer={urlBoxer1}
                            nameBoxer={nameBoxer1}
                        />
                        <div
                            class="
                                absolute bottom-0 w-[70%] left-1/2 -translate-x-1/2
                                md:relative md:w-full md:translate-x-0 md:left-0
                                z-10"
                        >
                            <Image
                                class="md:absolute md:min-w-[200%] lg:min-w-[150%] md:left-1/2 md:-translate-x-1/2 pointer-events-none"
                                width={titleSize[0]}
                                height={titleSize[1]}
                                loading={i < 2 ? "eager" : "lazy"}
                                src={`/images/combates/title-${id}.webp`}
                                alt="Fotografía del poster del combate"
                            />
                        </div>
                        <IndividualBoxer
                            id={id}
                            dataBoxerId={dataBoxerId_2}
                            userVotes={userVotes}
                            boxers={boxers[1]}
                            urlBoxer={urlBoxer2}
                            nameBoxer={nameBoxer2}
                        />
                    </li>
                );
            })
        }
    </ul>
</section>

<script>
    document.addEventListener("astro:page-load", async () => {
        fetch(`/api/votes/getVotes`)
            .then((res) => res.json())
            .then((res) => {
                const votes = res.rows.map(
                    (vote: [string, string, string, string]) => vote[3],
                );
                console.log(votes);
                const voteTeam = document.querySelectorAll(
                    "[data-button-vote]",
                ) as NodeListOf<HTMLButtonElement>;
                voteTeam.forEach((boxer) => {
                    const { boxerId } = boxer.dataset;
                    votes.includes(boxerId) &&
                        boxer.classList.add("boxer-Voted");
                });
            })
            .catch((err) => console.error(err));

        const { signOut } = await import("auth-astro/client");
        const logout = document.getElementById("logout");

        logout?.addEventListener("click", () => {
            signOut();
        });

        const voteTeam = document.querySelectorAll(
            "[data-button-vote]",
        ) as NodeListOf<HTMLButtonElement>;
        voteTeam.forEach((button) => {
            const { combatId, boxerId } = button.dataset;

            button.addEventListener("click", (e) => {
                const target = e.currentTarget as HTMLElement;
                let previousVote: HTMLElement | null;

                if (target) {
                    previousVote = target.parentElement
                        ? target.parentElement.querySelector(".boxer-Voted")
                        : null;
                    previousVote?.classList.remove("boxer-Voted");
                }
                if (!target.classList.contains("boxer-Voted")) {
                    target.classList.add("boxer-Voted");
                }

                const rollbackUI = () => {
                    target.classList.remove("boxer-Voted");
                    previousVote?.classList.add("boxer-Voted");
                    window.toast({
                        title: "Error, no se pudo guardar el voto",
                        location: "bottom-center",
                        dismissible: false,
                        type: "error",
                        icon: true,
                    });
                };

                fetch(`/api/votes/${combatId}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ voteId: boxerId }),
                })
                    .then((response) => {
                        if (!response.ok) rollbackUI();
                        window.toast({
                            title: "¡Voto registrado!",
                            location: "bottom-center",
                            dismissible: false,
                            type: "success",
                            icon: true,
                        });
                        const nextCombat = button.parentElement
                            ?.nextElementSibling as HTMLElement;
                        if (nextCombat)
                            nextCombat.scrollIntoView({ behavior: "smooth" });
                    })
                    .catch((e) => {
                        //Here when there is an error with conection
                        console.error(`Request POST Failer: ${e}`);
                        rollbackUI();
                    });
            });
        });
    });
</script>

<style is:global>
    button img {
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
        mask-image: linear-gradient(to bottom, black 80%, transparent 95%);
    }

    .boxer-Voted {
        pointer-events: none;
        @apply grayscale-0 saturate-150 scale-110;
        .boxer-Voted_text-one {
            @apply opacity-0;
        }
        .boxer-Voted_text-two {
            @apply opacity-100;
        }
    }
</style>
