---
import { COMBATS } from '@/const/combats.ts'
import type { Boxer } from '@/types/Boxer'

interface Props {
	id: string
    rival: Array<Boxer>
    name: string
    ally?: Array<string>
}

const ordinals: Record<number, string> = {
	1: "Primer",
	2: "Segundo",
	3: "Tercer",
	4: "Cuarto",
	5: "Quinto",
	6: "Sexto",
}

const { id, rival, name, ally } = Astro.props
const infoCombat = COMBATS.find(combat => combat.boxers.includes(id))
if (!infoCombat) {
	return new Response(JSON.stringify("Combat not found"), { status: 404 })
}
---

<section class="mt-40">
    <div class="relative flex flex-col items-center justify-center w-full py-20 md:py-40">

        <div class="absolute inset-0 grid place-items-center -z-10 opacity-20">
            <img src={`/images/combates/title-${infoCombat.id}.webp`} alt="Título del combate" class="w-full max-w-[70%] mx-auto" />
        </div>

        <h2 class="text-center text-4xl font-semibold uppercase text-white lg:text-6xl">
            {ordinals[infoCombat.number]} Combate
        </h2>
        <div class="text-center lowercase text-ice">
            {
                rival.length == 1 && (
                    <span class="text-5xl font-atomic lowercase"> {name} </span>
                    <span class="text-5xl font-atomic lowercase text-accent lg:text-6xl"> vs </span>
                    <span class="text-5xl font-atomic lowercase"> {rival[0]?.name} </span>
                )
            }
            {
                rival.length == 2 && ally && (
                    <span class="text-5xl font-atomic lowercase"> {name} <span class="text-5xl font-atomic lowercase text-accent lg:text-6xl">x</span> {ally[0]} </span>
                    <span class="text-5xl font-atomic lowercase text-accent lg:text-6xl"> vs </span>
                    <span class="text-5xl font-atomic lowercase"> {rival[0]?.name} <span class="text-5xl font-atomic lowercase text-accent lg:text-6xl">x</span> {rival[1]?.name} </span>
                )
            }
            {
                rival.length > 2 && (
                    <>
                        <span class="text-5xl font-atomic lowercase"> {name} </span>
                        <span class="text-5xl font-atomic lowercase text-accent lg:text-6xl"> vs </span>
                        {
                            rival.map((boxer, index) => <span class="text-5xl font-atomic lowercase"> {boxer.name} </span> <span class="text-5xl font-atomic lowercase text-accent lg:text-6xl"> vs </span>)
                        }
                    </>
                    
                )
            }
        </div>
    </div>
    <div class="mt-8 mb-32 text-center hover:underline">
        <a href={`/combates/${infoCombat.id}`} class="text-2xl font-semibold text-accent">
            Ver Combate
        </a>
    </div>
</section>