---
interface Props {
    id?: string;
    name?: string;
    country?: string;
    countryName?: string;
}

const { id, name, country, countryName } = Astro.props;
---

<picture
    class="max-w-[460px] aspect-[285/428] h-auto boxer-photo"
    transition:name="boxer"
>
    <source srcset=`/images/boxers/photoBig/${id}-big.avif` type="image/avif" />
    <img
        class="w-full h-auto object-contain aspect-[285/428]"
        alt=`Fotografía en grande de ${name}`
        src=`/images/boxers/photoBig/${id}-big.webp`
        decoding="async"
    />
</picture>
<div class="absolute bottom-0 lg:-bottom-20 flex flex-col items-center">
    <h4
        class="text-6xl md:text-7xl mb-4 font-atomic lowercase text-accent boxer-title -skew-y-6 text-center"
    >
        <span class="boxer-name">{name}</span>
    </h4>
    <img
        class="boxer-flag pointer-events-none aspect-[3/2] h-auto w-28 object-contain object-center"
        alt=`Bandera de ${countryName}`
        src=`/images/flags/${country}.webp`
    />
</div>

<style>
    .boxer-photo img {
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
        mask-image: linear-gradient(to bottom, black 90%, transparent 95%);
    }
</style>
