---
import Layout from "@/layouts/Layout.astro";
import { BOXERS } from "@/const/boxers";
import PictureBoxerBig from "@/components/PictureBoxerBig.astro";
import LiteYouTube from "@/components/LiteYouTube.astro";

import BoxSocialMedia from "@/components/BoxSocialMedia.astro";
import Instagram from "@/icons/instagram.astro";
import Tiktok from "@/icons/tiktok.astro";
import Youtube from "@/icons/youtube.astro";
import Twitch from "@/icons/twitch.astro";
import X from "@/icons/x.astro";
import CombatSection from "@/components/CombatSection.astro";
import type { Boxer } from "@/types/Boxer";
import BoxerClips from "@/components/BoxerClips.astro";
import Sponsors from "@/sections/Sponsors.astro";

export const prerender = true;

export function getStaticPaths() {
    return BOXERS.map(({ id }) => {
        return { params: { boxerId: id } };
    });
}

const { boxerId } = Astro.params;
const infoOfBoxer = BOXERS.find((boxerInList) => boxerInList.id === boxerId);
if (!infoOfBoxer)
    return new Response(JSON.stringify("Boxer not found"), { status: 404 });

const getNamesOfRivals = (rivals: string | any[]) => {
    let textRivals = "";
    if (rivals.length == 1) {
        textRivals = 
            `<a 
				href="/boxer/${rivals[0].id}" 
				class="group relative inline-block md:w-24 md:h-24 lg:w-36 lg:h-36 text-xl font-bold text-accent font-atomic" 
				title="Visita la página del boxeador ${rivals[0].name}"
				>
                    <div class="boxer-link-background"></div>
                    <img src="/images/boxers/photoSmall/${rivals[0].id}-small.webp" alt="Foto de ${rivals[0].name}" class="boxer-image w-full object-contain grayscale group-hover:grayscale-0 group-hover:scale-105  boxer-image" />
					${rivals[0].name}
			</a>`;
    } else {
        for (let i = 0; i < rivals.length; i++) {
            i === rivals.length - 1
                ?   (textRivals += 
                        `<a 
                            href="/boxer/${rivals[i].id}" 
                            class="text-xl font-bold text-accent hover:underline" 
                            title="Visita la página del boxeador ${rivals[i].name}"
                            >
                                ${rivals[i].name}
                        </a>`)
                :   (textRivals += `
                        <a 
                            href="/boxer/${rivals[i].id}" 
                            class="text-xl font-bold text-accent hover:underline" 
                            title="Visita la página del boxeador ${rivals[i].name}"
                            >
                                ${rivals[i].name}
                        </a> / `);
        }
    }
    return textRivals;
};

let infoBoxerRival: Array<Boxer> = [];
if (infoOfBoxer.versus === "rey-de-la-pista") {
    // Rival for Rey de la Pista
    infoBoxerRival = BOXERS.filter((boxerInList) =>
        boxerInList.versus == "rey-de-la-pista" && boxerInList.id != boxerId
    );
} else if (typeof infoOfBoxer.versus === "string") {
    // Rival for a boxer
    const boxer = BOXERS.find(
        (boxerInList) => boxerInList.id === infoOfBoxer.versus
    );
    if (!boxer) {
        return new Response(JSON.stringify("Rival not found"), { status: 404 });
    }
    infoBoxerRival.push(boxer);
} else {
    // Rival for multiple boxers
    infoOfBoxer.versus.forEach((versusId) => {
        const boxer = BOXERS.find((boxerInList) => boxerInList.id === versusId);
        if (!boxer) {
            return new Response(JSON.stringify("Rival not found"), {
                status: 404,
            });
        }
        infoBoxerRival.push(boxer);
    });
}
if (!infoBoxerRival) {
    return new Response(JSON.stringify("Information of rival not found"), {
        status: 404,
    });
}
---

<Layout
    description={`Información del luchador ${infoOfBoxer?.name}`}
    title={`${infoOfBoxer?.name} - Información del boxeador de La Velada IV`}
>
    <main>
        <section
            class="relative flex flex-col lg:flex-row justify-between mb-10 lg:mb-40"
        >
            <article
                class="lg:order-2 relative -top-12 w-full lg:max-w-[50%] flex flex-col items-center justify-center -z-10"
            >
                <PictureBoxerBig
                    id={infoOfBoxer?.id}
                    name={infoOfBoxer?.name}
                    country={infoOfBoxer?.country}
                    countryName={infoOfBoxer?.countryName}
                />
            </article>
            <div class="lg:order-1 mw-full lg:max-w-[25%] text-center">
                <BoxerClips clips={infoOfBoxer.clips} />

                <div
                    class="text-base text-accent font-bold hidden lg:block"
                    set:html={getNamesOfRivals(infoBoxerRival)}
                >
                    <h4 class="text-primary">Rival</h4>
                </div>
            </div>
            <div
                class="max-w-[400px] ml-auto mr-auto lg:max-w-[25%] lg:order-3 w-full text-center"
            >
                <div
                    class="flex justify-between items-center mb-3 lg:block lg:mb-10 text-xl"
                >
                    <h4 class="font-atomic text-accent">Edad</h4>
                    <span class="font-bold lg:text-3xl text-ice"
                        >{infoOfBoxer?.age}</span
                    >
                </div>
                <div
                    class="flex justify-between items-center mb-3 lg:block lg:mb-10 text-xl"
                >
                    <h4 class="font-atomic text-accent">Peso</h4>
                    <span class="font-bold lg:text-3xl text-ice"
                        >{infoOfBoxer?.weight} kg.</span
                    >
                </div>
                <div
                    class="flex justify-between items-center mb-3 lg:block lg:mb-10 text-xl"
                >
                    <h4 class="font-atomic text-accent">Altura</h4>
                    <span class="font-bold lg:text-3xl text-ice"
                        >{infoOfBoxer?.height} m.</span
                    >
                </div>
                <div
                    class="flex justify-between items-center mb-3 lg:block lg:mb-10 text-xl"
                >
                    <h4 class="font-atomic text-accent">Guardia</h4>
                    <span class="font-bold lg:text-3xl text-ice"
                        >{infoOfBoxer?.guard}</span
                    >
                </div>
            </div>
        </section>

        <section class="max-w-[400px] md:max-w-full ml-auto mr-auto">
            <h3 class="mb-10 text-2xl text-center text-ice font-bold">
                REDES SOCIALES
            </h3>
            <div class="flex flex-col md:flex-row justify-center gap-5">
                <BoxSocialMedia href={infoOfBoxer.socials.twitch}>
                    <Twitch />
                </BoxSocialMedia>
                <BoxSocialMedia href={infoOfBoxer.socials.instagram}>
                    <Instagram />
                </BoxSocialMedia>
                <BoxSocialMedia href={infoOfBoxer.socials.twitter}>
                    <X />
                </BoxSocialMedia>
                <BoxSocialMedia href={infoOfBoxer.socials.youtube}>
                    <Youtube />
                </BoxSocialMedia>
                <BoxSocialMedia href={infoOfBoxer.socials.tiktok}>
                    <Tiktok />
                </BoxSocialMedia>
            </div>
        </section>

        {
            infoOfBoxer.workout && (
                <section class="my-44">
                    <h3 class="text-2xl text-center text-white font-semibold">
                        ENTRENAMIENTO
                    </h3>
                    <p class="mt-4 text-xl text-center">
                        Preparación para el combate
                    </p>

                    <div class="mt-10 pt-12">
                        <LiteYouTube
                            videoId={infoOfBoxer.workout.videoID}
                            backgroundImage={infoOfBoxer.workout.thumbnail}
                        />
                    </div>
                </section>
            )
        }

        <CombatSection
            id={boxerId}
            rival={infoBoxerRival}
            name={infoOfBoxer?.name}
            ally={infoOfBoxer?.allies}
        />

        <Sponsors />
    </main>
</Layout>
